<h3>I am component {{componentName}}</h3>
<label>Server Name</label>
<input type="text" class="form-control"
(input)="onUpdateServerName($event)"
>
<p>{{serverName}}</p>

<hr>
<label>Another Server Name</label>
<input type="text" class="form-control" [(ngModel)]="serverName" name="serverName">
<p>{{serverName}}</p>


<hr>
<button class="btn btn-primary"
 [disabled]="!allowAddServer"
 (click)="onCreateServer()"
>Add server</button>
<p>Allow to add server: <b>{{allowAddServer}}</b></p>
<p [innerText]='"Allow to add server:"+allowAddServer'></p>
<app-server></app-server>
<app-server></app-server>


