<app-header></app-header>

<!--
<app-serves hidden=true></app-serves>

<app-button-banner hidden=true></app-button-banner>

<app-ng-contet-example><p>This is ng-content part</p></app-ng-contet-example>

<hr>


<button class="btn btn-success" (click)="updateCount()" style="margin:2px">Update Count</button>
<button class="btn btn-danger" (click)="onHideUnhide()">Hide/UnHide</button>
<app-lifecycle *ngIf="showComponent" [count]="count" ></app-lifecycle> -->
<router-outlet></router-outlet>

<app-footer></app-footer>
