<div class="container custom-container-2">

  <div>
     <h3>Employee List</h3>
     <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <th scope="col">Employee Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
          </thead>
        </table>
        <tbody>
          <tr *ngFor="let emp of employees">
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.salary}}</td>
            <td>
              <span class="edit" routerLink="/emp-edit/{{emp.id}}">Edit</span>
              <span class="delete" (click)="deleteEmp(emp.id)">Delete</span>
            </td>
          </tr>
        </tbody>
     </div>
  </div>

</div>
