<div class="container" >
  <form (ngSubmit)="onSubmit()"  #f="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="email" class="form-control" placeholder="Enter Username"
      ngModel name="username"
      required>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" placeholder="Enter Email"
      ngModel name="email"
      required email  #email="ngModel" >
      <span class="help-block" *ngIf="!email.valid && email.touched" >Please enter valid Email id</span>
    </div>

    <div class="form-group">
      <label for="question">Secret Question</label>
      <select name="question" i class="form-control" [ngModel]="defualtQuestion">
        <option value="city">Favourite City</option>
        <option value="teacher">Your first teacher</option>
        <option value="superhero">Favourite Superhero</option>
      </select>
    </div>

    <div class="form-group">
      <label for="aboutYou">Tell me About yourself</label>
      <textarea name="answer"  rows="3" class="form-control"
      [(ngModel)] ="answer"
      ></textarea>
      <p>Your view: {{answer}}</p>
    </div>

    <button type="submit" class="btn btn-default"
    [disabled]="!f.valid"
    >Submit</button>
  </form>
</div>
