
<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Employee!</h3>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter Name" [(ngModel)]="emp.name">
    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter Email" [(ngModel)]="emp.email">
    </div>
    <div class="form-group">
      <label for="name">Salary</label>
      <input type="number" class="form-control" id="salary" placeholder="Enter Salary" [(ngModel)]="emp.salary">
    </div>
    <div class="for-group">
      <button class="btn btn-success" (click)="addEmployee()">Add Employee</button>
    </div>
  </div>
</div>
